<nav class="navbar navbar-default navbar-expand-lg ">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <a class="navbar-brand" >
      <img src="../../../assets/pna-logo.png" />
    </a>
    <button class="navbar-toggler" type="button"
            style="color: white;"
            data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-bars"></i>
    </button>
  </div><!-- /.container-fluid -->
</nav>
