@media (min-width: 768px) {
  .navbar-header {
    float: left;
  }
}

.btn-primary:focus, .btn-primary:active, .btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}

.btn.active {
  background-color: #048fce;
}

.btn-group {
  color: white;
}

.btn-primary {
  background-color: rgba(2,2,50,1);
  border-color: white !important;
}

.navbar-default {
  font-size: 1.15em;
  font-weight: 400;
  background-color: rgba(2,30,2,1);
  padding: 10px;
  border: 0px;
  border-radius: 0px;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-default .navbar-nav>li>a:hover {
  color: beige;
}

.navbar-brand {
  padding: 0px 10px !important;
}

.navbar-default .navbar-brand {
  color: #ffffff;
}

.navbar-default .navbar-brand:hover {
  color: #ffffff;
  text-shadow: 1px -1px 8px rgba(155, 155, 155, 1);
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
  background-color: rgba(155, 155, 155, 1);
  color: white;
}

.navbar-default .navbar-toggle {
  border: none;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: none;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: rgba(155, 155, 155, 1);
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}

.dropdown-menu {
  background-color: rgba(155, 155, 155, 1);
  color: white;
  border: 0px;
  border-radius: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.dropdown-menu>li>a {
  background-color: rgba(155, 155, 155, 1);
  color: white;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
  background-color: rgba(155, 155, 155, 1);
  color: #d43f3a !important;
}

.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: rgba(155, 155, 155, 1);
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
  color: #ffffff;
}

@media (max-width: 767px) {
  .dropdown-menu>li>a {
    background-color: rgba(155, 155, 155, 1);
    color: #ffffff;
  }
  .dropdown-menu>li>a:hover {
    color: #ffffff;
  }

  .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    color: #ffffff;
    background-color: transparent;
  }

  .dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: rgba(155, 155, 155, 1);
  }
} /* END Media Query */

a {
  cursor: pointer;
}

.btn-outline-danger {
  color: #c7254e !important;
  background-color: inherit !important;
}
